{% extends "base.html" %}

{% block app_content %}
    <a href="{{ url_for("index") }}" class="btn btn-warning home">Home</a>
    <a href="{{ url_for("live") }}" class="btn btn-info refresh">Refresh</a>
    <div class="counter">{{ obj_life.counter_generation }}</div>

    <table class="world">
        {% for i in range(obj_life.world|length) %}
            <tr>
                {% for j in range(obj_life.world[i]|length) %}
                    {% if obj_life.world[i][j] == 1 %}
                        <td class="cell living-cell"></td>
                    {% elif obj_life.world[i][j] == 0 and obj_life.old_world[i][j] == 1 %}
                        <td class="cell dead-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script> setInterval(() => window.location.reload(), 1000); </script>
{% endblock %}

